/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, input {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

@font-face {
	font-family: Piron;
	src: url(piron.otf );
}

* {
	font-family: Arial;
}

header {
    background-color: transparent;
    background-image: -moz-linear-gradient(center bottom , #D7D7D7, #E4E4E4);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#D7D7D7), to(#E4E4E4));
    background-repeat: repeat;
    background-position: 0 0;
    background-attachment: scroll;
    border-bottom: 1px solid #C6C6C6;
    height: 46px;
}

header div.logo {
    margin: 8px;
    float: left;
    font-size: 1.4em;
    font-family: Piron;
}

header div.left-side {
    margin: 8px;
    float: right;
}

header form input, header div.new-url-btn, header div.new-url-file, footer div.clear-all {
	cursor: pointer;
    line-height: 1.4em;
    padding: .4em 1em;
    
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    
    background: #F6F6F6 50% 50% repeat-x;
    border: 2px solid black;
    
    font-size: 0.8em;
}

header div, header form {
    display: inline-block;
}

div.main {
    clear: both;
	width: 90%;
    margin-left: auto;
    margin-right: auto;
	background: white;
	padding: 0 30px 30px 30px;
}

div.main table {
    display: none;
    width: 100%;
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 0;
    text-shadow: 0 1px 0 #fff;
    color: #2a2a2a;
    background: #fafafa;  
    background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
    background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff)); 
}

div.main table td {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
    white-space: nowrap;
    text-align: center;
}

/*Body*/
div.main table tbody td {
    text-align: center;
    font: normal 1em;
}

div.main table tbody td:first-child {
    width: 100%;
    text-align: left;
}

div.main table td:nth-child(2), div.main table td:nth-child(3) {
    background: #e7f3d4;  
    background: rgba(184,243,85,0.3);
    border-right: 1px solid white;
	width: 150px;
}

div.main table tbody td:nth-child(3) {
    cursor: pointer;    
}

div.main table td:nth-child(4) {
    cursor: pointer;
    width: 40px;
    background: #efefef;
    background: rgba(144,144,144,0.15);
    border-right: 1px solid white;
	width: 150px;
}

/*Header*/
div.main table thead td {
    font: bold 1.3em;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid #eaeaea; 
}

div.main table thead td:first-child {
    border-top: none;
}

/*Footer*/
div.main table tfoot td {
    font: bold 1.2em;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid #dadada;
}

div.main table tfoot td:first-child {
    border-bottom: none;
}

div.new-url-dialog {
	clear: both;
    margin: .5em auto;
    padding: 2em;
    padding-top: 1.8em;
    padding-right: 1em;
    width: 85%;

    background: rgba(184,243,85,0.3);
    border: 1px solid grey;
    border-radius: 10px;
    -moz-border-radius: 10px;
    display: none;
    
    height: 4em;
}

span.new-url {
    margin-right: 2em;
    padding: 5px;
    float: left;
    background: rgba(144, 144, 144, 0.15);
    border: 1px solid white;
    border-radius: 10px;
	-moz-border-radius: 10px;
	display: inline-block;
}

input.new-url, div.more-options, input#bwlimit {
	display: inline-block;
	padding: .9em .4em;
    
	line-height: 1.4em;
    padding: .4em 1em;
    
    background: #F6F6F6 50% 50% repeat-x;
    border: 2px solid black;
    
    font-size: 0.8em;    
}

span.one-option {
    margin: 8px;
    display: inline-block;
}

span.one-option label {
    padding-right: 2em;
}

input#bwlimit {
    border-radius: 10px;
	-moz-border-radius: 10px;
    width: 2em;
}

input.new-url {
    width: 40em;
    border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
}

div.more-options {
    cursor: pointer;
    margin-left: -8px;
    border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
}

span.buttons {
    padding: 5px;
    float: right;
    border: 1px solid transparent;
}

div.new-url-ok, div.new-url-cancel {
	display: inline-block;
	padding: .9em .4em;
    
	cursor: pointer;
    line-height: 1.4em;
    padding: .4em 1em;
    
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    
    background: #F6F6F6 50% 50% repeat-x;
    border: 2px solid black;
    
    font-size: 0.8em;    
}

div.other-options {
	display: none;	
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2em;
    left: 0;
    right: 0;

    background: #eeeeee; /* old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* ie */
    
    padding: .2em 3em;
    
    display: none;
}

div.footer-tray {
    position: fixed;
    bottom: 5px;
    left: 16px;
}

footer div.clear-all {
    display: inline-block;
}

/* styling links */
a {
    text-decoration: none;
    color: darkgreen;
}

a:hover {
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
