@font-face {
	font-family: Piron;
	src: url(piron.otf ) format("truetype");
}

* {
    padding: 0;
    margin: 0;
    
    font-family: Arial;
}

header {
    background-color: transparent;
    background-image: -moz-linear-gradient(center bottom , #D7D7D7, #E4E4E4);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#D7D7D7), to(#E4E4E4));
    background-repeat: repeat;
    background-position: 0 0;
    background-attachment: scroll;
    border-bottom: 1px solid #C6C6C6;
    height: 46px;
}

header div.logo {
    margin: 8px;
    float: left;
    font-size: 1.4em;
    font-family: Piron;
}

header div.left-side {
    margin: 8px;
    float: right;
}

header form input {
   line-height: 1.4em;
    padding: .4em 1em;
    
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    
    background: #F6F6F6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
    border-style: solid;
    border: 1px;
    border-color: #CCC;
    
    font-size: 0.8em;
}

header div, header form {
    display: inline-block;
}

div.main {
    clear: both;
	width: 960px;
	background: white;
	padding: 0 30px 30px 30px;
}

div.main table {
    display: none;
    width: 100%;
    margin: 10px auto;
    border-collapse: separate;
    border-spacing: 0;
    text-shadow: 0 1px 0 #fff;
    color: #2a2a2a;
    background: #fafafa;  
    background-image: -moz-linear-gradient(top, #fff, #eaeaea, #fff); /* Firefox 3.6 */
    background-image: -webkit-gradient(linear,center bottom,center top,from(#fff),color-stop(0.5, #eaeaea),to(#fff)); 
}

div.main table td {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #cdcdcd;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
    white-space: nowrap;
    text-align: center;
}

/*Body*/
div.main table tbody td {
    text-align: center;
    font: normal 1em;
    width: 150px;
}

div.main table tbody td:first-child {
    width: auto;
    text-align: left;
}

div.main table td:nth-child(2), div.main table td:nth-child(3) {
    background: #e7f3d4;  
    background: rgba(184,243,85,0.3);
    border-right: 1px solid white;
}

div.main table tbody td:nth-child(3) {
    cursor: pointer;    
}

div.main table td:nth-child(4) {
    width: 50px;
    background: #efefef;
    background: rgba(144,144,144,0.15);
    border-right: 1px solid white;
}

/*Header*/
div.main table thead td {
    font: bold 1.3em;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid #eaeaea; 
}

div.main table thead td:first-child {
    border-top: none;
}

/*Footer*/
div.main table tfoot td {
    font: bold 1.2em;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid #dadada;
}

div.main table tfoot td:first-child {
    border-bottom: none;
}

div.new-url-dialog {
    margin: .5em auto;
    padding: 2em;
    padding-top: 1.8em;
    padding-right: 1em;
    width: 85%;
    vertical-align: middle;

    background: rgba(184,243,85,0.3);
    border: 1px solid grey;
    border-radius: 10px;
    -moz-border-radius: 10px;
    display: none;
}

div.new-url-dialog * {
    vertical-align: middle;
/*    display: none;*/
}

input.new-url {
    padding: .8em;
    width: 50em;
    background: rgba(144,144,144,0.15);
    border: 1px solid white;
    border-radius: 10px; 
}

div.new-url-ok, div.new-url-cancel {
    padding: .9em .4em;
}